<div data-brackets-id="1139" class="input-row">
    <div data-brackets-id="1140" class="input-row__inline">
        <div data-brackets-id="1141" class="input-row__element">
            <label data-brackets-id="1142" class="input-row__label">{{text}} <sup data-brackets-id="1143">*</sup></label>
            <div data-brackets-id="1144" class="input-row__textarea">
                <input type="text" data-brackets-id="1145" maxlength="{{max}}" />
            </div>
        </div>
    </div>
</div>
