<div data-brackets-id="1139" class="input-row">
    <div data-brackets-id="1140" class="input-row__inline">
        <div data-brackets-id="1141" class="input-row__element">
            <label data-brackets-id="1142" class="input-row__label">Description <sup data-brackets-id="1143">*</sup></label>
            <div data-brackets-id="1144" class="input-row__textarea">
                <textarea data-brackets-id="1145" maxlength="140"></textarea>
            </div>
        </div>
    </div>
    <div data-brackets-id="1146" class="input-row__textarea-info">
        0 / 140
    </div>
</div>
