<div data-brackets-id="178" class="card-attachment-list__element">
    <div data-brackets-id="179" class="global-attachment">
        <div data-brackets-id="180" class="global-file-type {{fileTypeCss}}">{{fileType}}</div>
        <div data-brackets-id="181" class="global-attachment__name">Conflicts Cleaner bla bla</div>
        <div data-brackets-id="182" class="global-attachment__delete"></div>
    </div>
</div>